fastapi==0.128.0
langchain>=1.0.0
langchain-classic>=1.0.0
langgraph
langchain-community
langchain-openai
langchain-huggingface
langfuse>3.8.0
pymongo
lancedb
FlagEmbedding
requests
httpx
numpy
openai
uvicorn
praw
finance-datareader
opendartreader
prophet
plotly
statsmodels
motor
youtube-transcript-api
google-api-python-client
asyncpg
psycopg[binary,pool]
greenlet
langgraph-checkpoint-postgres
langchain-neo4j
mojito2
